
$darkBlue: hsl(226, 46%, 35%);
$lightRed: hsl(356, 100%, 61%);
$lightRedAlt: hsl(356, 97%, 44%);
$white: hsl(204, 83%, 98%);

// Global Rules

$direction: ltr;
$flex-direction: row;
$start-direction: left;
$end-direction: right;
